{% extends 'layout.html' %} {% block content %}
<main id="main">
  <div class="movie">

    <h2 class="movie-page-title">{{movie.title}}</h2>
    <div class="photo">
      {% if movie.poster_link is none%}
      <img class="movie-page-image" alt="{{movie.title}}" src="{{ url_for('static', filename='blankimg.jpg') }}">
      {% else %}
    <img class="movie-page-image" alt="{{movie.title}}" src="{{movie.poster_link}}">
    {% endif %}
    </div>
    <div class="movie-info">
      <p><strong>Release Year:</strong> <a href="{{url_for('moviepage_bp.movie_page', year=movie.year)}}">{{movie.year}}</a></p>
      <p><strong>Metascore:</strong> {{movie.metascore}}</p>
      <p><strong>Rating:</strong> {{movie.rating}}</p>
      <p><strong>Amount of Votes for Rating:</strong> {{movie.rating_votes}}</p>
      <p><strong>Revenue:</strong> ${{movie.revenue}} million</p>
      <p><strong>Movie Runtime:</strong> {{movie.runtime_minutes}} minutes</p>

      <p><strong>Genre:</strong> {% for genre in movie.genres%}<a href="{{url_for('moviepage_bp.movie_page', genre=genre.name)}}">{{genre.genre_name}}</a> {% endfor %}</p>

      <p><strong>Actors:</strong> {% for actor in movie.actors%}<a href="{{url_for('moviepage_bp.movie_page', actor=actor.name)}}">{{actor.actor_full_name}}</a>, {% endfor %} ...</p>

      <p><strong>Director:</strong> <a href="{{url_for('moviepage_bp.movie_page', director=movie.director.name)}}">{{movie.director.director_full_name}}</a></p>
      <p class="movie-page-description"><strong>Description:</strong> {{movie.description}}</p>



      </div>
    </div>
</main>

{% endblock %}
