<h1 class="nav-heading">Movie Tracker</h1>

<input type="checkbox" id="nav-toggle" class="nav-toggle">

<nav id="nav">
    <ul>
        <li><a class="nav-btn" href="{{url_for('home_bp.home')}}">Home</a></li>
        <li><a class="nav-btn">Browse</a></li>
        <li><a class="nav-btn">Register</a></li>
        <li><a class="nav-btn">Login</a></li>
        <li><a class="nav-btn">Logout</a></li>
        <li><a class="nav-btn">Watched Movies</a></li>
        <li><a class="nav-btn">Watch List</a></li>
        <li><a class="nav-btn">My Profile</a></li>
    </ul>
</nav>

<label for="nav-toggle" class="nav-toggle-label">
    <span></span>
</label>