@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

:root {
    --background: rgba(25, 181, 254, 1);
}

*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    background: #222;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

#wrapper {
    background-color: #333;
    display: grid;
}

/* navigation styles start */

header {
    background : var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--background);
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }

    .nav-heading {
        grid-column: 1 / 2;
    }

    nav {
        all: unset;
        /*grid-column:  3 / 4;   */
        display: flex;
        justify-content: flex-end;
        align-items: center; 
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }    

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}


main {
    overflow: hidden;
    width: 98%;
    margin: 150px auto auto auto;
}

p, a {
    color: white;
}

.home-movie-result {
    width: 350px;
    float: left;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 20px;
}


.movie {
    overflow: hidden;
    width: 100%;
}

h2.movie-page-title {
    text-align: center;
    color: white;
}

.photo {
    width: 100%;
    text-align: center;
}

.photo .movie-page-image {
    width: 350px;
    height: auto;
}

.movie-info {
    display: inline;
    width: 1000%;
    height:540px;
    padding-top: 50px;
    word-wrap: break-word;
}



@media screen and (min-width: 800px) {
    .movie {
        overflow: hidden;
        width: 100%;
    }

    h2.movie-page-title {
        text-align: center;
        color: white;
    }

    .photo {
        float: left;
        width: 50%;
        text-align: center;
    }

    .photo .movie-page-image {
        width: 375px;
        height: auto;
    }

    .movie-info {
        width: 50%;
        float: right;
        height:540px;
        padding-top: 50px;
    }
}